<body ng-app="app" style="text-align: Center">
    <p><br />List des dictionnaires disponibles:</p>
    <div *ngFor="let dictionary of this.dictionaryService.dictionaryList; let dictIndex = index">
        <p>
            Numéro du dictionnaire:{{ dictIndex }}<br />
            Nom : {{ dictionary.title }}<br />Description : {{ dictionary.description }}<br /><br />
        </p>
    </div>
    <button *ngIf="showDeleteDictionaryButton" (click)="showNumberInput = true; showOrHideDictionaryButton(false); this.isDeleteMode = true">
        Supprimer un dictionnaire
    </button>
    <button *ngIf="showModifyButton" (click)="showNumberInput = true; showOrHideDictionaryButton(false); this.isDeleteMode = false">
        Modifier un dictionnaire</button
    ><br /><br />

    <fieldset *ngIf="showNumberInput">
        <label>Numéro du dictionnaire: </label>
        <input [(ngModel)]="dictionaryNumberInput" type="number" />
        <button (click)="validateNumber()">Valider le numéro</button>
        <button (click)="showNumberInput = false; showOrHideDictionaryButton(true)">Annuler</button>
        <div *ngIf="showNumberMessageError">
            <p>Le numéro du dictionnaire est invalide, il doit figurer dans la liste afficher mais ne peut pas etre 0.<br />Essayer de nouveau...</p>
        </div>
    </fieldset>
    <fieldset *ngIf="showNewNameInput">
        <label>Nom du dictionnaire: </label>
        <input [(ngModel)]="newNameInput" type="string" />
        <button (click)="validateNewName()">Valider le nom</button>
        <button (click)="showNewNameInput = false; showOrHideDictionaryButton(true)">Annuler</button>
        <div *ngIf="showNewNameMessageError">
            <p>Le nom du dictionnaire est invalide, il est soit deja associer a un disctionnaire ou le nom est vide.<br />Essayer de nouveau...</p>
        </div>
        <button *ngIf="showDeleteDictionaryButton" (click)="showNumberInput = true; showOrHideDictionaryButton(false); this.isDeleteMode = true">
            Supprimer un dictionnaire
        </button>
        <button *ngIf="showModifyButton" (click)="showNumberInput = true; showOrHideDictionaryButton(false); this.isDeleteMode = false">
            Modifier un dictionnaire</button
        ><br /><br />

        <fieldset *ngIf="showNumberInput">
            <label>Numéro du dictionnaire: </label>
            <input [(ngModel)]="dictionaryNumberInput" type="number" />
            <button (click)="validateNumber()">Valider le numéro</button>
            <button (click)="showNumberInput = false; showOrHideDictionaryButton(true)">Annuler</button>
            <div *ngIf="showNumberMessageError">
                <p>
                    Le numéro du dictionnaire est invalide, il doit figurer dans la liste afficher mais ne peut pas etre 0.<br />Essayer de nouveau...
                </p>
            </div>
        </fieldset>
        <fieldset *ngIf="showNewNameInput">
            <label>Nom du dictionnaire: </label>
            <input [(ngModel)]="newNameInput" type="string" />
            <button (click)="validateNewName()">Valider le nom</button>
            <button (click)="showNewNameInput = false; showOrHideDictionaryButton(true)">Annuler</button>
            <div *ngIf="showNewNameMessageError">
                <p>
                    Le nom du dictionnaire est invalide, il est soit deja associer a un disctionnaire ou le nom est vide.<br />Essayer de nouveau...
                </p>
            </div>
        </fieldset>
        <fieldset *ngIf="showNewDescriptionInput">
            <label>Description du dictionnaire: </label>
            <input [(ngModel)]="newDescriptionInput" type="string" />
            <button (click)="saveDictionaryModification()">Enregistrer les changements</button>
            <button (click)="showNewDescriptionInput = false; showOrHideDictionaryButton(true)">Annuler</button>
        </fieldset>
        <button *ngIf="showUpLoadButton" (click)="showOrHideDictionaryButton(false); showUpload = true; dictionaryService.isUploadComplete = false">
            Téléverser un nouveau dictionnaire
        </button>
        <button *ngIf="showDownloadButton" (click)="isDownloadMode = true; showNumberInput = true; showOrHideDictionaryButton(false)">
            Télécharger un dictionaire</button
        ><br />
        <a *ngIf="showDownloadUrl" [href]="downloadUrl" download="dictionary.json">Download</a>
        <br /><app-file-upload *ngIf="showUpload && !dictionaryService.isUploadComplete" requiredFileType=".json"></app-file-upload>

        <p><br /><br />List de nom des joueur virtuel débutant:</p>
        <div *ngFor="let name of this.nameJV[0]; let dictIndex = index">
            <p>
                Numéro du joueur virtuel:{{ dictIndex }}<br />
                Nom: {{ name }}<br />
            </p>
        </div>
        <button *ngIf="showAddJVnameButton" (click)="addNameJV(0)">ajouter un nom</button>
        <button *ngIf="showModifyJVNameButton" (click)="modifyJVName(0)">modifier un nom</button>
        <button *ngIf="showDeleteJVNameButton" (click)="deleteJVName(0)">suppprimer un nom</button>

        <p><br />List de nom des joueur virtuel expert:</p>
        <div *ngFor="let name of this.nameJV[1]; let dictIndex = index">
            <p>
                Numéro du joueur virtuel:{{ dictIndex }}<br />
                Nom: {{ name }}<br />
            </p>
        </div>
        <button *ngIf="showAddJVnameButton" (click)="addNameJV(1)">ajouter un nom</button>
        <button *ngIf="showModifyJVNameButton" (click)="modifyJVName(1)">modifier un nom</button>
        <button *ngIf="showDeleteJVNameButton" (click)="deleteJVName(1)">suppprimer un nom</button>

        <fieldset *ngIf="showInputJVName">
            <label>Nom du joueur virtuel: </label>
            <input [(ngModel)]="newNameJV" type="string" />
            <button (click)="saveJVName()">Enregistrer les modifications</button>
            <button (click)="showInputJVName = false; showOrHideJVButton(true)">Annuler</button>
            <div *ngIf="showJVNameMessageError">
                <p>Le nom du joueur virtuel est invalide, il est soit deja associer a un joueur ou le nom est vide.<br />Essayer de nouveau...</p>
            </div>
        </fieldset>
        <fieldset *ngIf="showInputJVIndex">
            <label>Index du joueur virtuel: </label>
            <input [(ngModel)]="indexJVName" type="number" />
            <button (click)="validateIndexJV()">Enregistrer les modifications</button>
            <button (click)="showInputJVIndex = false; showOrHideJVButton(true)">Annuler</button>
            <div *ngIf="showJVIndexMessageError">
                <p>
                    L'index du joueur virtuel est invalide, vous ne pouvez pas modifier les 3 premier joueur virtuel de la liste.<br />Essayer de
                    nouveau...
                </p>
            </div>
        </fieldset>
        <div>
            <p><br><br>Mode Classique</p>
            <table class="table">
                <tbody>
                    <tr>
                        <th>Numéro</th>
                        <th>Name</th>
                        <th>Score</th>
                    </tr>
                    <div *ngFor="let best of this.bestScoreService.bestScore[0]; let numberBest = index">
                        <tr>
                            <td>{{ numberBest + 1 }}</td>
                            <td>{{ best.name }}</td>
                            <td>{{ best.score }}</td>
                        </tr>
                    </div>
                </tbody>
            </table>
        </div>
        <div>
            <p><br><br>Mode LOG2990</p>
            <table class="table">
                <tbody>
                    <tr>
                        <th>Numéro</th>
                        <th>Name</th>
                        <th>Score</th>
                    </tr>
                    <div *ngFor="let best of this.bestScoreService.bestScore[1]; let numberBest = index">
                        <tr>
                            <td>{{ numberBest + 1 }}</td>
                            <td>{{ best.name }}</td>
                            <td>{{ best.score }}</td>
                        </tr>
                    </div>
                </tbody>
            </table>
        </div>
        <br /><br /><button (click)="reinitialize()">Réinitialiser</button>
    <div *ngIf="dictionaryService.dictionaryList.length === 0">
        <p>La connection avec le server est impossible... s'il vous plait veillez resayer plus tard<br />Merci de votre compréhenssion</p>
    </div>
</body>
