<div class="container">
    <body>
        <h1><br />Liste des dictionnaires disponibles</h1>
        <div *ngFor="let dictionary of this.dictionaryService.dictionaryList; let dictIndex = index">
            <p>
                Numéro du dictionnaire : {{ dictIndex }}<br />
                Nom : {{ dictionary.title }}<br />Description : {{ dictionary.description }}<br /><br />
            </p>
        </div>
        <button *ngIf="showDeleteDictionaryButton" (click)="showNumberInput = true; showOrHideDictionaryButton(false); this.isDeleteMode = true" class="button">
            Supprimer un dictionnaire
        </button>
        <button *ngIf="showModifyButton" (click)="showNumberInput = true; showOrHideDictionaryButton(false); this.isDeleteMode = false" class="button">
            Modifier un dictionnaire</button
        ><br /><br />

        <fieldset *ngIf="showNumberInput">
            <label>Numéro du dictionnaire: </label>
            <input [(ngModel)]="dictionaryNumberInput" type="number" />
            <button (click)="validateNumber()" class="button">Valider le numéro</button>
            <button (click)="showNumberInput = false; showOrHideDictionaryButton(true)" class="button">Annuler</button>
            <div *ngIf="showNumberMessageError">
                <p>Le numéro du dictionnaire est invalide, il doit figurer dans la liste afficher mais ne peut pas etre 0.<br />Essayer de nouveau...</p>
            </div>
        </fieldset>
        <fieldset *ngIf="showNewNameInput">
            <label>Nom du dictionnaire : </label>
            <input [(ngModel)]="newNameInput" type="string" />
            <button (click)="validateNewName()" class="button">Valider le nom</button>
            <button (click)="showNewNameInput = false; showOrHideDictionaryButton(true)" class="button">Annuler</button>
            <div *ngIf="showNewNameMessageError">
                <p>Le nom du dictionnaire est invalide, il est soit deja associer a un disctionnaire ou le nom est vide.<br />Essayer de nouveau...</p>
            </div>
        </fieldset>
        <fieldset *ngIf="showNewDescriptionInput">
            <label>Description du dictionnaire : </label>
            <input [(ngModel)]="newDescriptionInput" type="string" />
            <button (click)="saveDictionaryModification()" class="button">Enregistrer les changements</button>
            <button (click)="showNewDescriptionInput = false; showOrHideDictionaryButton(true)" class="button">Annuler</button>
        </fieldset>
        <button *ngIf="showUpLoadButton" (click)="showOrHideDictionaryButton(false); showUpload = true; dictionaryService.isUploadComplete = false" class="button">
            Téléverser un nouveau dictionnaire
        </button>
        <button *ngIf="showDownloadButton" (click)="isDownloadMode = true; showNumberInput = true; showOrHideDictionaryButton(false)" class="button">
            Télécharger un dictionnaire</button
        ><br />
        <a *ngIf="showDownloadUrl" [href]="downloadUrl" download="dictionary.json">Download</a>
        <br /><app-file-upload *ngIf="showUpload && !dictionaryService.isUploadComplete" requiredFileType=".json"></app-file-upload>
        <div *ngIf="dictionaryService.showUploadedInfo">
            <p>Voici les informations du dictionnaire téléversé : </p>
            <p>Titre: {{ this.dictionaryService.dictionaryList[this.dictionaryService.dictionaryList.length - 1].title }}</p>
            <p>Description: {{ this.dictionaryService.dictionaryList[this.dictionaryService.dictionaryList.length - 1].description }}</p>
            <div *ngFor="let word of this.dictionaryService.dictionaryList[this.dictionaryService.dictionaryList.length - 1].words">
                <div>{{ word }}</div>
            </div>
            <button (click)="dictionaryService.showUploadedInfo = false; showOrHideDictionaryButton(true)" class="button">Faire d'autres modifications</button>
        </div>
        <div *ngIf="nameJV[0].length !== 0">
            <h1><br /><br />Liste de nom des joueur virtuel débutant</h1>
            <div *ngFor="let name of this.nameJV[0]; let dictIndex = index">
                <p>
                    Numéro du joueur virtuel : {{ dictIndex }}<br />
                    Nom : {{ name }}<br />
                </p>
            </div>
            <button *ngIf="showAddJVnameButton" (click)="addNameJV(0)" class="button">Ajouter un nom</button>
            <button *ngIf="showModifyJVNameButton" (click)="modifyJVName(0)" class="button">Modifier un nom</button>
            <button *ngIf="showDeleteJVNameButton" (click)="deleteJVName(0)" class="button">Suppprimer un nom</button>

            <h1><br />Liste de nom des joueur virtuel expert</h1>
            <div *ngFor="let name of this.nameJV[1]; let dictIndex = index">
                <p>
                    Numéro du joueur virtuel : {{ dictIndex }}<br />
                    Nom : {{ name }}<br />
                </p>
            </div>
            <button *ngIf="showAddJVnameButton" (click)="addNameJV(1)" class="button">Ajouter un nom</button>
            <button *ngIf="showModifyJVNameButton" (click)="modifyJVName(1)" class="button">Modifier un nom</button>
            <button *ngIf="showDeleteJVNameButton" (click)="deleteJVName(1)" class="button">Supprimer un nom</button>

            <fieldset *ngIf="showInputJVName">
                <label>Nom du joueur virtuel : </label>
                <input [(ngModel)]="newNameJV" type="string" />
                <button (click)="saveJVName()" class="button">Enregistrer les modifications</button>
                <button (click)="showInputJVName = false; showOrHideJVButton(true)" class="button">Annuler</button>
                <div *ngIf="showJVNameMessageError">
                    <p>Le nom du joueur virtuel est invalide, il est soit déjà associé à un joueur ou le nom est vide.<br />Essayez de nouveau...</p>
                </div>
            </fieldset>
            <fieldset *ngIf="showInputJVIndex">
                <label>Index du joueur virtuel : </label>
                <input [(ngModel)]="indexJVName" type="number" />
                <button (click)="validateIndexJV()" class="button">Enregistrer les modifications</button>
                <button (click)="showInputJVIndex = false; showOrHideJVButton(true)" class="button">Annuler</button>
                <div *ngIf="showJVIndexMessageError">
                    <p>
                        L'index du joueur virtuel est invalide, vous ne pouvez pas modifier les 3 premier joueur virtuel de la liste.<br />Essayer de
                        nouveau...
                    </p>
                </div>
            </fieldset>
            <div>
                <h1><br /><br />Mode Classique</h1>
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Numéro</th>
                            <th>Name</th>
                            <th>Score</th>
                        </tr>
                        <div *ngFor="let best of this.bestScoreService.bestScore[0]; let numberBest = index">
                            <tr>
                                <td>{{ numberBest + 1 }}</td>
                                <td>{{ best.name }}</td>
                                <td>{{ best.score }}</td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
            <div>
                <h1><br /><br />Mode LOG2990</h1>
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Numéro</th>
                            <th>Name</th>
                            <th>Score</th>
                        </tr>
                        <div *ngFor="let best of this.bestScoreService.bestScore[1]; let numberBest = index">
                            <tr>
                                <td>{{ numberBest + 1 }}</td>
                                <td>{{ best.name }}</td>
                                <td>{{ best.score }}</td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
        <div *ngIf="nameJV[0].length === 0">
            <p>La connection avec la base de données est impossible pour le moment... Veuillez réessayer plus tard.<br>Merci de votre compréhension.</p>
        </div>
        <br /><br /><button (click)="reinitialize()" class="button">Réinitialiser</button>
        <div *ngIf="dictionaryService.dictionaryList.length === 0">
            <p>La connection avec le server est impossible... s'il vous plaît veuillez réessayer plus tard.<br />Merci de votre compréhension</p>
        </div>
    </body>
</div>
