<div class="container">
    <section class="section-25">
        <app-objectives (click)="this.clickLocation('objectives')"></app-objectives>
        <app-sidebar (click)="this.clickLocation('textBox')"></app-sidebar>
    </section> 
    <section class="section-55">
        <app-play-area class="play-area" tabindex="0" (click)="this.clickLocation('gameBoard')"></app-play-area>
        <app-letters (click)="this.clickLocation('hand')"></app-letters>
    </section>
    <section class="section-20">
        <app-sidebar-right (click)="this.clickLocation('sidebarRight')"></app-sidebar-right>
    </section>
</div>
