.container {
    height: 100%;
    display: flex;
    overflow: hidden;
    background-image: url('https://th.bing.com/th/id/OIP.O3ERQEx-ofwpqBXLu19EgwHaE8?pid=ImgDet&rs=1');
}

.play-area-container {
    overflow: hidden;
    flex: 1 1 auto;
    background-image: url('https://th.bing.com/th/id/OIP.O3ERQEx-ofwpqBXLu19EgwHaE8?pid=ImgDet&rs=1');
}

.play-area {
    display: grid;
    width: min-content;
    outline: none;
}
