.container {
    height: 120%;
    display: flex;
    overflow-x: hidden;
    overscroll-behavior: contain;
    width: 100%;
    max-height: 120%;
    max-width: 100%;
    background-color: rgb(213, 231, 213);
    align-items: center;
}

.play-area {
    display: grid;
    width: min-content;
    outline: none;
}
.section-25{
    max-height: 100%;
    height: 100%;
    min-height: 100%;
    width: 25%;
    max-width: 25%;
    min-width: 25%;
    align-items: center;
}

.section-20{
    max-height: 100%;
    height: 100%;
    min-height: 100%;
    width: 20%;
    max-width: 20%;
    min-width: 20%;
    align-items: center;
}

.section-55{
    max-height: 100%;
    height: 100%;
    min-height: 100%;
    width: 55%;
    max-width: 55%;
    min-width: 55%;
    display: block;
    align-items: center;
}

// custom scrollbar : https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_scrollbar2
/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
.background{
  background-color: rgb(213, 231, 213);
  width: 50%;
  height: 80%;
  margin-left: 25%;
  margin-top: 5%;
}
