.centered {
    text-align: center;
    align-items: center;
    background-color: rgb(213, 231, 213);
}

.table-filler{
    background-color: rgb(213, 231, 213);
    width: 95%;
    max-width: 95%;
    color: white;
    border: double;
    text-align: center;
}
.table{
    color:black;
    border: double;
    width: 100%;
    max-width: 100%;
}
.th {
    font-family: serif;
    border: double;
    width:33%;
}
.td {
    font-family: serif;
    border: double;
    width:33%;
}
.for-length{
    width:100%;
}