<!-- Source pour les icones sur les buttons : https://www.w3schools.com/howto/howto_css_icon_buttons.asp -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<html>
    <div class="filler">
        <div>
            <h1 class="header">Vous êtes présentement en attente d'un autre joueur, veuillez-vous détendre un moment et patienter!</h1>
        </div>
        <body class="body">
            <!-- source https://codepen.io/Bilal1909/pen/pobgJae -->
            <div class="center">
                <div class="wave"></div>
                <div class="wave"></div>
                <div class="wave"></div>
                <div class="wave"></div>
                <div class="wave"></div>
                <div class="wave"></div>
                <div class="wave"></div>
                <div class="wave"></div>
                <div class="wave"></div>
                <div class="wave"></div>
            </div>
            <p><button class = "solo" (click)="setSoloType()" routerLink="/soloInitiator"><i class="fa fa-play"></i>Convertir en mode solo</button></p>
            <button class = "home" (click)="cancelGame()" routerLink="/home" ><i class="fa fa-close"></i>Annuler la partie et retourner au menu principal<i class="fa fa-home"></i></button>
        </body>
    </div>
</html>
