.fieldset {
    border: none;
    background-color: rgb(213, 231, 213);
    color: black;
    width: 90%;
    max-width: 90%;
    height: 35%;
    max-height: 35%;
    margin-left: 2%;
    margin-right: 5px;
    padding: 0 5px 0 5px;
}
.title {
    color: black;
    font-size: 18px;
    font-family: serif;
}
.text {
    color: black;
    font-size: 12px;
    font-family: serif;
}