.DisplayZone{
    height: 500px;
    border-color: black;
    border-width: 10px;
    width: 300px;
    border-style:double;
    margin-bottom: 10px;
}

.PlayerMessage{
    color: aqua;
}

.AlertMessage{
    color:red;
}