.textBox {
    height: 20px;
    border-color: black;
    border-width: 2px;
    width: 400px;
    border-style: ridge;
    margin-bottom: 10px;
    margin-bottom: 0px;
    background-color: black;
    color: white;
    padding-bottom: 10px;
}

.title {
    text-align: center;
    background-color: rgb(104, 20, 20);
    color: white;
    font-family: cursive;
}
#DisplayZone {
    height: 400px;
    border-color: black;
    border-width: 2px;
    width: 400px;
    border-style: groove;
    margin-bottom: 10px;
    overflow: scroll;
    background-color:white;
    border-radius: 16px;
}

.PlayerMessage {
    color: blue;
    font-size: 20px;
}

.AlertMessage {
    color: red;
    font-size:20px;
}

.ButtonCommandActivated {
    font-size: medium;
    background-color: black;
    color: white;
}

.ButtonMessageReleased {
    font-size: medium;
    background-color: white;
    color: black;
}

.ButtonMessageActivated {
    font-size: medium;
    background-color: rgb(167, 144, 144);
    color: white;
    
}

.ButtonCommandReleased {
    font-size: medium;
    background-color: white;
    color: black;
}

.Joueur {
    color: green;
    font-size: 20px;
}

.Adversaire {
    color: red;
    font-size: 20px;
}
.Systeme {
    color: blue;
    font-size: 20px;
}
.input{
    font-size: 30px;
    color: black;
    background-color: yellow;
    border:double;
    border-radius: 16px;
    text-align: center;
}
.form{
    text-align: center;
}
.label{
    color:black;
    background-color: blanchedalmond;
    border-radius: 16px;
    border: double;
    font-size: 24px;
    text-align: center;
}