<div class="textBox">
    <h1 class="title">Boite de communication</h1>
</div>
<div class="DisplayZone">
    <div
        *ngIf="(this.buttonCommandState === 'ButtonCommandActivated' && !(this.debugCommand)) || this.buttonMessageState === 'ButtonMessageActivated'"
    >
        <p class="PlayerMessage" *ngFor="let word of this.array">Joueur: {{word}} </p>
    </div>
    <div *ngIf="this.debugCommand && this.buttonCommandState === 'ButtonCommandActivated'">
        <p class="PlayerMessage" *ngFor="let word of this.array">Commande debug activé</p>
    </div>
    <!-- <div>
        <p class="OpponentMessage" *ngFor="let word of this.messageSoloInfo">{{this.messageSoloInfo[1]}}: {{getMessageSoloOpoonent()}}</p>
    </div> -->
</div>
<div *ngIf="input.character">
    <p class="AlertMessage">Votre commande ou message est trop longue</p>
</div>
<form #myInput="ngForm">
    <input
        type="text"
        autocomplete="off"
        ngModel
        name="commandsAndMessages"
        [(ngModel)]="this.word"
        (keyup.enter)="this.verifyCommand(this.array[this.array.length - 1])"
    />
    <button [class]="this.input.buttonMessageState" (click)="activateMessage()">Message</button>
    <button [class]="this.input.buttonCommandState" (click)="activateCommand()">Commande</button>
</form>
