<div class="textBox">
    <h1 class="title">Boite de communication</h1>
</div>
<div class="DisplayZone">

    <div *ngIf="this.buttonMessageState === 'ButtonMessageActivated'">
        <p class="PlayerMessage" *ngFor="let word of this.array">Utilisateur : {{word}}</p>
    </div>
    <div *ngIf="this.debugCommand && this.buttonCommandState === 'ButtonCommandActivated'">
        <p class="PlayerMessage" *ngFor="let word of this.array">Utilisateurs : {{word}}</p>
        <p class="PlayerMessage" *ngFor="let word of this.array">Vous etes en mode debug</p>
    </div>
</div>
<div *ngIf="input.character">
    <p class="AlertMessage"> Votre commande ou message est trop longue</p>
</div>
<form #myInput="ngForm">
    <input type="text" autocomplete="off" ngModel name="commandsAndMessages" [(ngModel)]="this.word">
    <button [class]="this.input.buttonMessageState" (click)="activateMessage()">Message</button>
    <button [class]="this.input.buttonCommandState" (click)="activateCommand()">Commande</button>
</form>