.container {
    min-height: 100vh;
    height: auto;
}

.justified {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

// source : https://www.w3schools.com/csS/tryit.asp?filename=trycss_buttons_animate3 
.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: orange;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px orangered;
}

.team-name {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    color: black;
}

.header-item {
    background-color: blue;
    justify-content: center;
    background: linear-gradient(to right, blue, #71eeff);
    text-align: center;
}

.footer-item {
    text-align: center;
    background-color: red;
    background: linear-gradient(to left, red, rgb(165, 76, 17));
}

.footer-item p :nth-child(even) {
    color: orange;
}
.footer-item p :nth-child(odd) {
    color: blue;
}

.server-message {
    justify-content: center;
    width: 20%;
    min-width: min-content;
}

.bg-container { 
    background-image:url("poly_uni_building.png"); 
    background-size: auto; width:100%;   
    height:100%; 
    text-align:center; 
}

html, body {   margin:0;   height:100%;   overflow:hidden; }

.button:hover { background-color: black; }

.button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px); }
