.letter {
    border-style: solid;
    background-color: burlywood;
    color: black;
    box-shadow: 0 5px rgb(214, 157, 83);
    font-size: 24px;
}

table {
    margin: auto;
}

.wood{
    background-color: #855E42;
}
.fieldset{
    border: transparent;
}
