<div class="flex-container">
    <div class="letter-filler">
        <table>
            <tr>
                <td
                    class="letter"
                    *ngFor="let letter of letters; let indexOfElem = index"
                    [ngStyle]="{
                        'text-align': 'center',
                        'width.px': letterSize,
                        'height.px': letterSize,
                        'border-color': indexOfElem === getIndexSelectedSwapping() ? 'red' : 'black',
                        'background-color': getIndexSelectedExchange().includes(indexOfElem) ? 'green' : 'white'
                    }"
                >
                    <div (click)="selectLetterWithLeftClick(letter.letter, indexOfElem)" (contextmenu)="selectLetterWithRightClick(letter.letter, indexOfElem)">
                    {{ letter.letter }}<sub>{{ letter.point }}</sub>
                    </div>
                </td>
            </tr>
            <table></table>
        </table>
    </div>
    <div class="font-size-filler">
        <app-change-font-size></app-change-font-size>
    </div>
</div>