.container {
    height: auto;
    min-height: 98vh;
    border: double;
    padding: 0 5px 0 5px;
    width: 20vw;
    background-color: lightgreen;
    text-align: center;
    height: 100vh;
    position: relative;
    top: 5px;
    max-height: 100vh;
}

.Counter {
    font-size: 42px;
    font-family: serif;
    color: green;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border:double;
    background-color: black;
    max-width: 20vw;
}
.buttonfontsize {
    display: inline-block;
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: green;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px darkgreen;
    font-family: serif;
}
.buttonfontsize:hover {
    background-color: black;
    color: white;
}
.header {
    color: white;
    background-color: black;
    font-size: 30px;
    width: 19vw;
    max-width: 19vw;
}
.header1{
   background-color: black;
   color:white;
   font-size: 26px; 
   width: 19vw;
   max-width: 19vw;
}
.header2{
    background-color: black;
    color:white;
    font-size: 20px;
    max-width: 20vw;
}

.label {
    background-color: black;
    color:white;
    font-size: 20px;
    max-width: 20vw;
}
.label2 {
    background-color: transparent;
    color: white;
    font-size: 20px;
    max-width: 20vw;
}
.header3 {
    background-color: black;
    color: white;
    font-size: 20px;
    max-width: 20vw;
}
.score-filler{
    background-color: black;
    width: 20vw;
    max-width: 20vw;
}
.table{
    color:white;
    border: double;
    width: 19vw;
    max-width: 19vw;
}
.th, td {
    color: white;
    border: double;
    width: 19vw;
    max-width: 19vw;
}
.fieldset{
    border:transparent;
    max-width: 20vw;
}
.filler1{
    background-color: black;
    max-width: 20vw;
    height: 14.5vh;
    max-height: 14.5vh;
}
.filler2{
    background-color: black;
    max-width: 20vw;
}
.filler3{
    background-color: black;
    max-width: 20vw;
}
.filler4{
    background-color: black;
    height: 48px;
    text-align: center;
    max-width: 20vw;
}
