.container {
    height: auto;
    min-height: 98vh;
    border: 1px solid black;
    padding: 0 5px 0 5px;
    margin-right: 5px;
}

.Counter {
    font-size: x-large;
}
.buttonfontsize {
    font-size: x-large;
}
.buttonsurrender {
    font-size: large;
    color: #fff;
    background-color: #ff0000;
    border: none;
    border-radius: 5px;
}
.buttonsurrender:hover {
    background-color: #fa4040;
}
