<div class="container">
    <body ng-app="app" style="text-align: Center">
        <fieldset>
            <h1>Score</h1>
            <table>
                <tr>
                    <th>
                        <h2>{{ getPlayerName(0) }}</h2>
                    </th>
                    <th>
                        <h2>{{ getPlayerName(1) }}</h2>
                    </th>
                </tr>
                <tr>
                    <td>
                        <h2>{{ getScorePlayer(0) }}</h2>
                    </td>
                    <td>
                        <h2>{{ getScorePlayer(1) }}</h2>
                    </td>
                </tr>
            </table>
        </fieldset>
        <fieldset>
            <h1>C'est le tour de {{ getPlayerNameAndVerifyTurn() }}</h1>
            <h2>Temps restant au tour:</h2>
            <div class="Counter">
                <ngx-countdown
                    #counter
                    [time]="time * 1000"
                    format="ss"
                    [autoStart]="true"
                    (finish)="skipTurn()"
                    (finish)="counter.start()"
                    (tick)="this.verifyChangedTurns(counter)"
                ></ngx-countdown
                >s
            </div>
            <br />
            <button *ngIf="showPassButton()" class="buttonfontsize" (click)="counter.reset()" (click)="skipTurn()">Passer son tour</button>
        </fieldset>
        <fieldset>
            <label> Nombre de lettres dans la réserve: {{ getNumberRemainingLetters() }} </label>
        </fieldset>
        <fieldset *ngIf="getNumberOfLettersForPlayer(0) < 7 || getNumberOfLettersForPlayer(1) < 7">
            <p>
                <label *ngIf="getNumberOfLettersForPlayer(0) < 7">
                    Nombre de lettres sur le chevalet pour le joueur: {{ getNumberOfLettersForPlayer(0) }}
                </label>
            </p>
            <label *ngIf="getNumberOfLettersForPlayer(1) < 7">
                Nombre de lettres sur le chevalet pour l'adversaire: {{ getNumberOfLettersForPlayer(1) }}
            </label>
        </fieldset>
        <fieldset>
            <button class="buttonfontsize" (click)="increaseFontSize()">+</button>
            <button class="buttonfontsize" (click)="decreaseFontSize()">-</button>
        </fieldset>
        
            <app-abandon-game></app-abandon-game>
            <app-finished-game></app-finished-game>
            <app-exchange-letters-gui></app-exchange-letters-gui>
            <app-place-word-with-click-gui></app-place-word-with-click-gui>
    </body>
</div>
