<div class="container">
    <body ng-app="app" style="text-align: Center">
        <fieldset>
            <h1>Informations sur la partie en cours</h1>
            <p>Mode: Jouer Solo (TODO)</p>
            <p>
                <label>Votre nom: {{ playerName[0] }}</label>
            </p>
            <p>
                <label> Nom de votre adversaire: {{ playerName[1] }}</label>
            </p>
            <p>
                <label>Temps par tours: {{ time }} secondes.</label>
            </p>
            <p>
                <label>Difficulté du joueur virtuel: {{ difficultyInCharacters() }}.</label>
            </p>
        </fieldset>
        <fieldset>
            <h1>Score</h1>
            <table>
                <tr>
                    <th>
                        <h2>{{ playerName[0] }}</h2>
                    </th>
                    <th>
                        <h2>{{ playerName[1] }}</h2>
                    </th>
                </tr>
                <tr>
                    <td>
                        <h2>{{ getScorePlayer(0) }}</h2>
                    </td>
                    <td>
                        <h2>{{ getScorePlayer(1) }}</h2>
                    </td>
                </tr>
            </table>
        </fieldset>
        <fieldset>
            <h1>C'est le tour de {{ getPlayerName() }}</h1>
            <h2>Temps restant au tour:</h2>
            <div class="Counter">
                <ngx-countdown
                    #counter
                    [time]="time * 1000"
                    format="ss"
                    [autoStart]="true"
                    (finish)="endTurn()"
                    (finish)="counter.start()"
                    (reset)="this.verifyChangedTurns()"
                ></ngx-countdown
                >s
            </div>
            <br />
            <button *ngIf="turn === 0" class="buttonfontsize" (click)="counter.reset()" (click)="skipTurn()">Passer son tour</button>
        </fieldset>
        <fieldset>
            <label> Nombre de lettres dans la réserve: {{ getNumberRemainingLetters() }} </label>
        </fieldset>
        <fieldset *ngIf="getNumberOfLettersForPlayer() < 7 || getNumberOfLettersForOpponent() < 7">
            <p>
                <label *ngIf="getNumberOfLettersForPlayer() < 7">
                    Nombre de lettres sur le chevalet pour le joueur: {{ getNumberOfLettersForPlayer() }}
                </label>
            </p>
            <label *ngIf="getNumberOfLettersForOpponent() < 7">
                Nombre de lettres sur le chevalet pour l'adversaire: {{ getNumberOfLettersForOpponent() }}
            </label>
        </fieldset>
        <fieldset>
            <button class="buttonfontsize" (click)="increaseFontSize()">+</button>
            <button class="buttonfontsize" (click)="decreaseFontSize()">-</button>
        </fieldset>
        <fieldset>
            <button class="buttonsurrender" (click)="this.finishCurrentGame()">Abandonner la partie courante</button>
        </fieldset>
    </body>
</div>
