.label{
    color:blue;
    background-color: white;
    font-size: 20px;
}
.button{
    color: blue;
    background-color: white;
    font-size: 16px;
    border-radius: 16px;
    box-shadow: 0 5px blue;
}
.button:hover {
    color: white;
    background-color: blue;
}