<body class="body">
    <div class="container justified">
        <h1 class="header-item" style="text-align:Center">Bienvenue cher joueur!</h1>
        <div class="justified">
            <p><button class="button" (click)="setSoloType()" routerLink="/soloInitiator">Jouer en solo</button></p>
            <p><button class="button" (click)="setCreateMultiPlayerGame()" routerLink="/soloInitiator">Créer une partie multijoueur</button></p>
            <p><button class="button" (click)="setJoinMultiPayerGame()" routerLink="/gameSelection">Joindre une partie multijoueur</button></p>
        <button class="button" routerLink="/home">Revenir en arrière</button>
        </div>
    </div>
</body>