<body ng-app="app" style="text-align:Center">
<div class="container justified">
    <h1 class="header-item">Bienvenue cher joueur!</h1>
    <div class="justified">
    <p><button class="button" routerLink="/soloInitiator">Jouer en solo</button></p>
    <p><button class="button" routerLink="/game">Créer une partie multijoueur</button></p>
    <p><button class="button" routerLink="/game">Joindre une partie multijoueur</button></p>
</div>

<button class="button" routerLink="/home">Revenir en arrière</button>
