<div class="container justified">
    <h1 class="header-item" style="text-align:Center">Bienvenue cher joueur!</h1>
    <div class="justified">
    <body ng-app="app" style="text-align:Center">
    <p><button class="button" routerLink="/soloInitiator">Jouer en solo</button></p>
    <p><button class="button">Créer une partie multijoueur</button></p>
    <p><button class="button">Joindre une partie multijoueur</button></p>
    <button class="button" routerLink="/home">Revenir en arrière</button>
</body>
</div>