.container {
    height: auto;
    min-height: 97%;
    border: none;
    padding: 0 5px 0 5px;
    min-width: 90%;
    width: 90%;
    max-width: 90%;
    background-color: rgb(213, 231, 213);
    text-align: center;
    height: 97%;
    position: relative;
    margin-top: 1.5%;
    max-height: 97%;
    margin-left: 2%;
    color: green;
    margin-bottom: 1.5%;
}
.container2 {
    height: auto;
    border: none;
    padding: 0 5px 0 5px;
    min-width: 90%;
    width: 90%;
    max-width: 90%;
    background-color: rgb(213, 231, 213);
    text-align: center;
    min-height: 67%;
    height: 67%;
    max-height: 67%;
    position: relative;
    margin-top: 1.5%;
    margin-left: 2%;
    margin-bottom: 1.5%;
    color: green;
}
