<fieldset *ngIf = "validationNecessary && !getIsGameFinished()" class="fieldset">
    <p><label class="label">Voulez-vous vraiment abandonner?</label></p>
    <button class="button-surrender-confirmed" (click)="this.finishCurrentGame()">Confirmer</button>
    <button (click)="this.validationNecessary = false" class="button-surrender-refuse">Annuler</button>
</fieldset>
<fieldset *ngIf = "!validationNecessary" class="fieldset">
    <button class="button-surrender" (click)="this.validationNecessary = true">Abandonner</button>
</fieldset>