.buttonsurrender {
    display: inline-block;
    padding: 15px 25px;
    font-size: 26px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: red;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px black;
    font-family: serif;
}
.buttonsurrender:hover {
    background-color: black;
    color: white;
    box-shadow: 0 9px grey;
}

.buttonsurrenderconfirmed {
    display: inline-block;
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: red;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px black;
    font-family: serif;
}

.buttonsurrenderconfirmed:hover{
    color: white;
    background-color: black;
    box-shadow: 0 9px grey;
}

.label {
    font-size: 16px;
    color: blanchedalmond;
    background-color: red;
}

.fieldset{
    border:transparent;
}