.buttonsurrender:hover {
    background-color: black;
    color: red;
}

.buttonsurrender {
    font-size: 34px;
    color: #fff;
    background-color: #ff0000;
    border: double;
    border-radius: 16px;
    box-shadow: 0px 10px blue;
}

.buttonsurrenderconfirmed {
    font-size: 22px;
    color: #fff;
    background-color: #ff0000;
    margin-right: 30px;
    border: double;
    border-radius: 14px;
    box-shadow: 0 6px black;
}

.buttonsurrenderconfirmed:hover{
    color: red;
    background-color: white;
}

.label {
    font-size: 16px;
    color: blanchedalmond;
    background-color: red;
}