<!-- Sources : https://developer.mozilla.org/en-US/docs/Web/HTML/Element/ (en IEEE plus tard)
https://www.w3schools.com/tags/att_input_type_radio.asp#:~:text=Radio%20buttons%20let%20a%20user%20select%20only%20one,group%20can%20be%20selected%20at%20the%20same%20time.-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<div class="preventer">
    <h1 class="header">Bienvenue dans le mode {{ getGameStatusInString() }}!</h1>
    <div class="fill-top"></div>
    <body class="body">
        <div class="image-rules">
            <h2 class="header2">Entrez votre identifiant. Les règles à suivre:</h2>
            <article>
                <div class="rules">
                    <h3 class="header3"><strong>1 -</strong> N'entrer que des lettres d'alphabet</h3>
                    <h3 class="header3"><strong>2 -</strong> Ne pas entrer un nom vide</h3>
                    <h3 class="header3"><strong>3 -</strong> Ne pas entrer un nom de plus de 17 caractères</h3>
                    <h3 class="header3"><strong>4 -</strong> Sélectionner les options de la partie</h3>
                    <h3 class="header3"><strong>5 -</strong> S'amuser!</h3>
                    <h3 *ngIf="getGameStatus() === 1" class="header3">
                        <strong>6 -</strong> Ne pas choisir le même nom que celui du créateur : {{ returnNameOfCreator() }}
                    </h3>
                </div>
            </article>
            <label class="label">Nom du joueur pour la partie : {{ this.name }}</label>
        </div>
        <div class="image-names">
            <fieldset class="fieldset">
                <label class="label"> {{ 'Validité du nom: ' + nameValidityInChar() }}</label>
                <p>
                    <label class="label"> Entrez votre nom : </label>
                    <input [(ngModel)]="temporaryName" type="string" class="input" />
                </p>
                <p>
                    <button class="button" (click)="setName()"><i class="fa fa-check"></i>Validation de l'identifiant</button>
                </p>
                <label class="label" *ngIf="getGameStatus() === 2">{{ "Nom de l'adversaire: " + opponentName }}</label>
            </fieldset>
        </div>
        <div *ngIf="getGameStatus() === 2" class="image-bonus">
            <fieldset class="fieldset">
                <legend class="legend">Difficulté</legend>
                <div class="switch-field2">
                    <p>
                        <input type="radio" id="desactivated2" name="difficulty" (click)="setExpertMode()" checked />
                        <label for="desactivated2">Débutant</label>
                        <input type="radio" id="activated2" name="difficulty" (click)="setExpertMode()" />
                        <label for="activated2">Expert</label>
                    </p>
                </div>
            </fieldset>
        </div>
        <div *ngIf="getGameStatus() === 0 || getGameStatus() === 2" class="image-bonus">
            <fieldset class="fieldset">
                <legend class="legend">Bonus aléatoire</legend>
                <div class="switch-field">
                    <p>
                        <input type="radio" id="desactivated" name="randomBonus" (click)="setRandomBonus(false)" checked />
                        <label for="desactivated">Désactivé</label>
                        <input type="radio" id="activated" name="randomBonus" (click)="setRandomBonus(true)" />
                        <label for="activated">Activé</label>
                    </p>
                </div>
            </fieldset>
        </div>
        <div class="image-time">
            <fieldset class="fieldset">
                <div *ngIf="getGameStatus() === 0 || getGameStatus() === 2">
                    <legend class="legend">Choisissez le temps par tour de jeu</legend>
                    <form oninput="tempsDeJeu = Math.max(parseInt(barre.value),parseInt(increment.value))">
                        <input [(ngModel)]="playTime" type="range" id="barre" name="bar" step="30" min="30" max="300" value="60" class="slider" />
                        <label class="label"
                            ><output name="temps" for="tempsDeJeu" style="color: black">{{ playTime }}</output> secondes par tour de jeu
                        </label>
                    </form>
                </div>
            </fieldset>
        </div>
        <div class="image-button">
            <fieldset class="fieldset">
                <button class="button" routerLink="/selection"><i class="fa fa-backward"></i>Revenir en arrière</button>
                <label class="space" *ngIf="nameIsValid">space</label>
                <button *ngIf="nameIsValid && getGameStatus() === 2" (click)="startNewGame()" class="button">
                    <i class="fa fa-play"></i>
                    Démarrer la partie!
                </button>
                <button *ngIf="nameIsValid && getGameStatus() === 0" (click)="startNewGame()" routerLink="/waiting" class="button">
                    <i class="fa fa-play"></i>
                    Démarrer la partie!
                </button>
                <button
                    *ngIf="nameIsValid && getGameStatus() === 1 && this.returnIsGameToBeJoined() && this.verifyNameIsNotSameAsRoomCreator()"
                    (click)="joinGame()"
                    class="button"
                >
                    <i class="fa fa-play"></i>Joindre la partie!
                </button>
                <button *ngIf="!this.returnIsGameToBeJoined()" (click)="this.createPopUp()" class="button">
                    <i class="fa fa-refresh"></i>Mettre à jour la situation
                </button>
                <div *ngIf="this.getGameStatus() === 1" class="bonus-fill"></div>
            </fieldset>
        </div>
        <div *ngIf="getGameStatus() !== 1">
            <fieldset>
                <legend>Choisissez le dictionnaire utilisé</legend>
                <p><br />List des dictionnaires disponibles:</p>
                <div id="listDict" *ngFor="let dictionary of this.dictionaryList; let dictIndex = index">
                    <p>
                        Numéro du dictionnaire:{{ dictIndex }}<br />
                        Nom: {{ dictionary.title }}<br />Description: {{ dictionary.description }}<br /><br />
                    </p>
                </div>
            </fieldset>
            <fieldset>
                <label>Numéro du dictionnaire: </label>
                <input [(ngModel)]="indexDictionaryNumber" type="number" />
                <button (click)="validateDictionaryNumber()">Valider le numéro</button>
                <div>
                    <p>{{ validationDictionaryMessage }}</p>
                </div>
            </fieldset>
        </div>
        <p>
            <button *ngIf="nameIsValid && getGameStatus() === 2 && isDictionaryValid" (click)="startNewGame()" class="button">
                <i class="fa fa-play"></i> Démarrer la partie {{ getGameStatusInString() }}!
            </button>
            <button *ngIf="nameIsValid && getGameStatus() === 0 && isDictionaryValid" (click)="startNewGame()" routerLink="/waiting" class="button">
                <i class="fa fa-play"></i>
                Démarrer la partie!
            </button>
            <button
                *ngIf="nameIsValid && getGameStatus() === 1 && this.returnIsGameToBeJoined() && this.verifyNameIsNotSameAsRoomCreator()"
                (click)="joinGame()"
                class="button"
            >
                <i class="fa fa-play"></i>Joindre la partie!
            </button>
            <button *ngIf="!this.returnIsGameToBeJoined()" (click)="this.createPopUp()" class="button">
                <i class="fa fa-refresh"></i>Mettre à jour la situation
            </button>
            <button class="button" routerLink="/selection"><i class="fa fa-backward"></i>Revenir en arrière</button>
        </p>
        <div *ngIf="this.getGameStatus() === 1" class="bonus-fill"></div>
    </body>
</div>
