<!-- Sources : https://developer.mozilla.org/en-US/docs/Web/HTML/Element/ (en IEEE plus tard)
https://www.w3schools.com/tags/att_input_type_radio.asp#:~:text=Radio%20buttons%20let%20a%20user%20select%20only%20one,group%20can%20be%20selected%20at%20the%20same%20time.-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<div class="preventer">
    <body class="body">
        <div class="fill-top">
            <h1 class="header">Bienvenue dans le mode {{ getGameStatusInString() }}!</h1>
        </div>
        <div class="image-rules">
            <label class="header2">Entrez votre identifiant. Les règles à suivre :</label>
            <article>
                <p>
                    <label class="header3"><strong>1 -</strong> N'entrer que des lettres d'alphabet</label>
                </p>
                <p>
                    <label class="header3"><strong>2 -</strong> Ne pas entrer un nom vide</label>
                </p>
                <p>
                    <label class="header3"><strong>3 -</strong> Ne pas entrer un nom de plus de 17 caractères</label>
                </p>
                <p>
                    <label class="header3"><strong>4 -</strong> Sélectionner les options de la partie</label>
                </p>
                <p>
                    <label class="header3"><strong>5 -</strong> S'amuser!</label>
                </p>
                <p>
                    <label *ngIf="getGameStatus() === 1" class="header3"
                        ><strong>6 -</strong> Ne pas choisir le même nom que celui du créateur : {{ returnNameOfCreator() }}</label
                    >
                </p>
                <p>
                    <label *ngIf="getGameStatus() === 2" class="header3"
                        ><strong>6 -</strong> Le nom de l{{'\''}}adversaire est unique : {{ opponentName }}</label>
                </p>
            </article>
        </div>
        <div class="image-names">
            <fieldset class="fieldset">
                <p>
                    <label class="label" *ngIf="this.name !== 'Essayez de nouveau...' && this.name !== 'Entrez votre nom de nouveau, vous aviez fait une erreur...' && this.name !== 'Appuyez sur la validation pour valider votre nom'">Nom du joueur pour la partie : {{ this.name }}</label>
                    <label class="label" *ngIf="this.name === 'Appuyez sur la validation pour valider votre nom'">{{ this.name }}</label>
                    <label class="label-red" *ngIf="this.name==='Essayez de nouveau...' || this.name=== 'Entrez votre nom de nouveau, vous aviez fait une erreur...'">{{ this.name }}</label>
                </p>
                <p>
                    <label class="label" *ngIf="nameValidityInChar()==='valide'"> {{ 'Validité du nom: ' + nameValidityInChar() }}</label>
                    <label class="label-red" *ngIf="nameValidityInChar()==='invalide'"> {{ 'Validité du nom: ' + nameValidityInChar() }}</label>
                    <input [(ngModel)]="temporaryName" type="string" class="input" />
                </p>
                <p>
                    <button class="button" (click)="setName()"><i class="fa fa-check"></i>Validation de l'identifiant</button>
                </p>
            </fieldset>
        </div>
        <div class="advanced-parameters-button-filler">
            <button class="button" *ngIf="!this.showAdvancedParameters && this.getGameStatus() !== 1" (click)="this.showAdvancedParameters = !this.showAdvancedParameters">
                Afficher les paramètres avancés
            </button>
            <button class="button" *ngIf="this.showAdvancedParameters && this.getGameStatus() !== 1" (click)="this.showAdvancedParameters = !this.showAdvancedParameters">
                Masquer les paramètres avancés
            </button>
        </div>
        <div *ngIf="this.showAdvancedParameters">
            <div *ngIf="getGameStatus() === 2" class="image-bonus">
                <fieldset class="fieldset">
                    <legend class="legend">Difficulté</legend>
                    <div class="switch-field2">
                        <p>
                            <input type="radio" id="desactivated2" name="difficulty" (click)="setExpertMode(false)" checked />
                            <label for="desactivated2">Débutant</label>
                            <input type="radio" id="activated2" name="difficulty" (click)="setExpertMode(true)" />
                            <label for="activated2">Expert</label>
                        </p>
                    </div>
                </fieldset>
            </div>
            <div *ngIf="getGameStatus() === 0 || getGameStatus() === 2" class="image-bonus">
                <fieldset class="fieldset">
                    <legend class="legend">Bonus aléatoire</legend>
                    <div class="switch-field">
                        <p>
                            <input type="radio" id="desactivated" name="randomBonus" (click)="setRandomBonus(false)" checked />
                            <label for="desactivated">Désactivé</label>
                            <input type="radio" id="activated" name="randomBonus" (click)="setRandomBonus(true)" />
                            <label for="activated">Activé</label>
                        </p>
                    </div>
                </fieldset>
            </div>
            <div class="image-time">
                <fieldset class="fieldset">
                    <div *ngIf="getGameStatus() === 0 || getGameStatus() === 2">
                        <legend class="legend">Choisissez le temps par tour de jeu</legend>
                        <form oninput="tempsDeJeu = Math.max(parseInt(barre.value),parseInt(increment.value))">
                            <input [(ngModel)]="playTime" type="range" id="barre" name="bar" step="30" min="30" max="300" value="60" class="slider" />
                            <p>
                                <label class="label"
                                    ><output name="temps" for="tempsDeJeu" style="color: black">{{ playTime }}</output> secondes par tour de jeu
                                </label>
                            </p>
                        </form>
                    </div>
                </fieldset>
            </div>
            <div *ngIf="getGameStatus() !== 1" class="dictionnary-filler">
                <fieldset class="fieldset">
                    <legend class="legend">Choisissez le dictionnaire utilisé</legend>
                    <legend class="legend"><br />Liste des dictionnaires disponibles :</legend>
                    <div id="listDict" *ngFor="let dictionary of this.dictionaryList; let dictIndex = index">
                        <label class="label">
                            Numéro du dictionnaire : {{ dictIndex }} Nom : {{ dictionary.title }} Description : {{ dictionary.description }} </label
                        ><br /><br />
                    </div>
                    <label class="label">Numéro du dictionnaire : </label>
                    <input [(ngModel)]="indexDictionaryNumber" type="number" class="input" />
                    <button (click)="validateDictionaryNumber()" class="button"><i class="fa fa-check"></i>Valider le numéro</button>
                    <div>
                        <label class="label">{{ validationDictionaryMessage }}</label>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="image-button">
            <fieldset class="fieldset">
                <button class="button" routerLink="/selection"><i class="fa fa-backward"></i>Revenir en arrière</button>
                <label class="space" *ngIf="nameIsValid">space</label>
                <button *ngIf="nameIsValid && getGameStatus() === 2" (click)="startNewGame()" class="button">
                    <i class="fa fa-play"></i>
                    Démarrer la partie!
                </button>
                <button *ngIf="nameIsValid && getGameStatus() === 0" (click)="startNewGame()" routerLink="/waiting" class="button">
                    <i class="fa fa-play"></i>
                    Démarrer la partie!
                </button>
                <button
                    *ngIf="nameIsValid && getGameStatus() === 1 && this.returnIsGameToBeJoined() && this.verifyNameIsNotSameAsRoomCreator()"
                    (click)="joinGame()"
                    class="button"
                >
                    <i class="fa fa-play"></i>Joindre la partie!
                </button>
                <button *ngIf="!this.returnIsGameToBeJoined()" (click)="this.createPopUp()" class="button">
                    <i class="fa fa-refresh"></i>Mettre à jour la situation
                </button>
            </fieldset>
        </div>
    </body>
</div>
