.grid-container {
    margin: auto;
    width: 55vw;
    max-width: 55vw;
    height: width;
    max-height: max-width;
    border: 3px double rgb(213, 231, 213);
    padding: 1px;
    position: relative;
    top: 5px;
    overflow: hidden;
    background-color: rgb(213, 231, 213);
}

.canvas {
    border: 3px double rgb(213, 231, 213);
    padding: 1px;
    display: block;
    margin-left: 9.5%;
    background-color: white;
    align-items: center;
    width: 77%; // by experimentation
}
