.grid-container {
    margin: auto;
    width: 45vw;
    height: width;
    border: 3px double white;
    padding: 1px;
    position: relative;
    left: 2.5vw;
    top: 5px;
    overflow: hidden;
    background-color: #d09a53;
}

.canvas {
    border: 3px double white;
    padding: 1px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}
