.body{
    width: 100%;
    height: 100%;
    max-height: 250%;
    background-color: rgb(213, 231, 213);
    text-align: Center;
    overflow-x: hidden;
}

// source : https://www.w3schools.com/csS/tryit.asp?filename=trycss_buttons_animate3 
.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 1.5vw;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: green;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px darkgreen;
    font-family: serif;
    margin-bottom: 1.5%;
}

.button:hover{
    background-color: black;
}
.button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px); 
}

.header {
    justify-content: center;
    background-color: rgb(213, 231, 213);
    text-align: center;
    font-family: serif;
    color: green;
    font-family: serif;
    width: 100%;
    font-size: 2.5vmax;
    height: 3%;
    max-height: 3%;
}
// source : https://www.w3schools.com/csS/tryit.asp?filename=trycss_buttons_animate3 
.selection-button {
    display: inline-block;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: green;
    background-color: rgb(213, 231, 213);
    border: double;
    border-radius: 15px;
    font-family: serif;
}

.selection-button:hover{
    background-color: green;
    color: white;
}
// custom scrollbar : https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_scrollbar2
/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
    
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(0, 54, 0); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: lightgreen; 
  }