<body ng-app="app" class="body">
    <h1 class = "header">Bienvenue à la séléction des parties en attente d'un joueur!</h1>
    <div>
        <button class = "button" (click)="refresh()"> Mise à jour </button>
    </div>
    <div *ngFor="let game of this.gamesList; let indexElement = index;">
        <p><button class="selection-button" *ngIf="game.length !== 0 && game[0] !== undefined && changeStringToBool2990(game[3]) === getIs2990()" [class]="game" pressed (click) = "this.changeValidity(game[0])" (click) = "this.setIndex(indexElement)"> Nom : {{game[0]}}, Bonus aléatoire : {{this.getBonusInLetters(game[1])}}, Temps de jeu : {{this.getTimePerTurn(game[2])}} </button></p>
    </div>
    <p><button class="button" *ngIf="isValidSelection" routerLink="/soloInitiator"> Allez à la sélection du nom </button></p>
    <button class = "button" routerLink = "/selection"> Revenir en arrière </button>
</body>    
